<!DOCTYPE html>
<html>

<head>
    @if (ViewData["Title"] != null)
    {
        <title>
            @ViewData["Title"]
        </title>
    }
    else
    {
        <title>Meu Primeiro RazorApp </title>
    }

    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <partial name="_Menu" />
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>@@ Powered by Marcella</footer>
    @RenderSection("Scripts", false)
</body>

</html>