@page "/categorias/{pageNumber:int?}/{take:int?}"
@model Categories //Namespace RazorApp.Pages jรก importado em _ViewImports
@{
    ViewData["Title"] = "Suas categorias";
}

@foreach (var item in @Model.CategoriesList)
{
    <p>*@item.Title</p>
}